/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

/* App Component Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Button Styles */
button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2c5891; /* Updated color */
  color: #f3f3f3;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #266ac3; /* Updated hover color */
}

/* Section and Controls */
section {
  margin: 2rem 0 1rem 0;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/* Text Styles */
h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Meals and Nutrients */
.meals {
  display: flex;
  flex-wrap: wrap; /* Updated for responsiveness */
}

.nutrients ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /*
Updated for responsiveness */
width: 100%;
}
/* Article and Image Styles */
article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 2px rgba(77, 77, 77, 0.15);
  }
  
  img {
  width: 100%;
  margin-bottom: 1rem;
  }
  
  /* List and Instructions Styles */
  ul {
  list-style: none;
  }
  
  .instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  }
  
  /* Link Styles /
  a {
  text-decoration: none;
  background-color: #00067e;
  color: #f3f3f3;
  padding: 0.5rem 1rem;
  display: inline-block;
  }
   / Ensures width fits content */
   
  a:hover {
  background-color: #00067e;
  cursor: pointer;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 1024px) {
  .meals {
  flex-direction: column;
  align-items: center;
  }
  
  .nutrients ul {
  flex-direction: column;
  align-items: center;
  }
  }